In [32]:
import pandas as pd

path = r'/content/creditcard.csv'
data = pd.read_csv(path)
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [33]:
data.corr()['Class'].sort_values()

V17      -0.326481
V14      -0.302544
V12      -0.260593
V10      -0.216883
V16      -0.196539
V3       -0.192961
V7       -0.187257
V18      -0.111485
V1       -0.101347
V9       -0.097733
V5       -0.094974
V6       -0.043643
Time     -0.012323
V24      -0.007221
V13      -0.004570
V15      -0.004223
V23      -0.002685
V22       0.000805
V25       0.003308
V26       0.004455
Amount    0.005632
V28       0.009536
V27       0.017580
V8        0.019875
V20       0.020090
V19       0.034783
V21       0.040413
V2        0.091289
V4        0.133447
V11       0.154876
Class     1.000000
Name: Class, dtype: float64

In [56]:
pd.value_counts(data['Class'])

<ipython-input-56-bacf519e6d9d>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data['Class'])

Class
0    284315
1       492
Name: count, dtype: int64

In [59]:
import pandas as pd

path = r'/content/creditcard.csv'
data = pd.read_csv(path)

# Group by 'Class' and get the size of each group
class_counts = data.groupby('Class').size()
print(class_counts)

# Split the data into two dataframes based on 'Class'
class_0_df = data[data['Class'] == 0]
class_1_df = data[data['Class'] == 1]

print("\nClass 0 DataFrame shape:", class_0_df.shape)
print("Class 1 DataFrame shape:", class_1_df.shape)

Class
0    284315
1       492
dtype: int64

Class 0 DataFrame shape: (284315, 31)
Class 1 DataFrame shape: (492, 31)

In [60]:
import pandas as pd

path = r'/content/creditcard.csv'
data = pd.read_csv(path)

# Sample 20000 rows from Class 0
class_0_sampled = data[data['Class'] == 0].sample(n=20000, random_state=42)  # random_state for reproducibility

# Combine the sampled Class 0 data with the entire Class 1 data
sampled_data = pd.concat([class_0_sampled, data[data['Class'] == 1]])

# Print the shape of the new DataFrame
print("\nSampled DataFrame shape:", sampled_data.shape)

# You can now work with the 'sampled_data' DataFrame
# ... further processing or analysis ...

# Example: Check the class distribution in the sampled data
print(sampled_data['Class'].value_counts())

Sampled DataFrame shape: (20492, 31)
Class
0    20000
1      492
Name: count, dtype: int64

In [61]:
# Concatenate the sampled data with the class 1 data
joined_data = pd.concat([sampled_data, class_1_df])

# Print the shape of the joined DataFrame
print("\nJoined DataFrame shape:", joined_data.shape)

# Check the class distribution in the joined data
print(joined_data['Class'].value_counts())

Joined DataFrame shape: (20984, 31)
Class
0    20000
1      984
Name: count, dtype: int64

In [62]:
x_train = joined_data.drop('Class' , axis=1)
y_train = joined_data['Class']

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,f1_score , classification_report

model = LogisticRegression( )
model.fit(x_train , y_train)

y_pred = model.predict(x_test)

f1_score = f1_score(y_test , y_pred)
print(f1_score*100)
acc = accuracy_score(y_test , y_pred)
print(acc*100)
print(classification_report(y_test , y_pred))

1.1698913672301858
73.0083213370317
              precision    recall  f1-score   support

           0       1.00      0.73      0.84     56864
           1       0.01      0.93      0.01        98

    accuracy                           0.73     56962
   macro avg       0.50      0.83      0.43     56962
weighted avg       1.00      0.73      0.84     56962

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(